<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scrumfitapp">
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CreateRoutine_ListOfExercises_Activity"
            android:exported="false" />
        <activity
            android:name=".CreateRoutine_SelectExercise_Activity"
            android:exported="false" />
        <activity
            android:name=".Profile_Edit_Activity"
            android:exported="false" />
        <activity
            android:name=".Home_Dashboard_Activity"
            android:exported="false" />
        <activity
            android:name=".CreateRoutine_Day_Activity"
            android:exported="false" />

        <activity
            android:name=".ListRoutine_Daily_Activity"
            android:exported="false" />

        <activity
            android:name=".ListRoutine_Workout_Activity"
            android:exported="false" />
        <activity
            android:name=".ListRoutine_Exercise_Activity"
            android:exported="false" />
        <activity
            android:name=".Log_SignIn_Acitity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Log_Register_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>